@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scale-x-translate-z-0 {
        transform: scale(0) translateZ(0)
    }
}

html {
    scroll-behavior: smooth;
}

.woocommerce-breadcrumb {
    @apply hidden;
}

nav.nav-main li.menu-item-has-children:hover ul {
    display: block;
}

.before-shop-loop {
    @apply hidden;
}

.woocommerce-notices-wrapper {
    @apply w-full;
}
.attachment-woocommerce_thumbnail {
    @apply mx-auto w-full rounded-md bg-white transition-all duration-200;
}